__pycache__/
**/__pycache__/
*__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.zip
*.pdf
.ipynb_checkpoints/
semantic_chunker_results/

# Environment Variables
.env
**/.env
*.env

# Extraction data folders
extraction/
**/extraction/